.card-noticia{
    background-color: var(--blanco);
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(207, 179, 179, 0.25);
    min-height: 200px;
    margin: 0 20px 20px 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
h2{
    font-size: 28px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
h2:hover{
    color: var(--azul-claro);
    cursor: pointer;
}