<section class="card paradas">
    <table>
        <thead>
            <tr>
                <th>Población</th>
                <th>Parada</th>
                <th>Ver horarios</th>
                <th class="enlace">Enlace con líneas</th>
            </tr>
        </thead>
        <tbody>
            @for (parada of paradas; track parada.id) {
                <tr>
                    <td>{{parada.poblacion}}</td>
                    <td>{{parada.parada}}</td>
                    <td><button (click)="setParada(parada)" class="boton-secundario">Horarios</button></td>
                    <td class="enlace">
                        @for (enlace of parada.enlaces; track $index) {
                            <a [routerLink]="['/detalle-linea', 5]" routerLinkActive="active" target="_blank">{{enlace.nombre}}</a>
                           
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <app-mapa [id]="'mapa2'" [paradas]="this.paradas" [recorrido]="this.recorrido" class="mapa2"/>
    
</section>