<section class="card paradas">
    <table>
        <thead>
            <tr>
                <th>Población</th>
                <th>Parada</th>
                <th>Ver horarios</th>
                <th class="enlace">Enlace con líneas</th>
            </tr>
        </thead>
        <tbody>
            @for (parada of paradas; track parada.id) {
                <tr>
                    <td>{{parada.poblacion}}</td>
                    <td>{{parada.nombre}}</td>
                    <td><button (click)="verHorarios()" class="boton">Horarios</button></td>
                    <td class="enlace"><a href="#">Línea 1</a></td>
                </tr>
            }
        </tbody>
    </table>
    <app-mapa [id]="'mapa2'" [paradas]="this.paradas" [recorrido]="this.recorrido" class="mapa2"/>
    
</section>