<article class="card-contacto">
    <aside>
        <img src="../../../assets/imagenes/{{empresa.nombre}}.png" alt="">
    </aside>
    <header>
        <h2>{{empresa.nombre}}</h2>
    </header>
    <section class="contenido">
        <p><strong>Correo electrónico: </strong>{{empresa.email}}</p>
        <p><strong>Teléfono de atención al cliente: </strong>{{empresa.telefono}}</p>
        <p><strong>Dirección postal: </strong>{{empresa.direccion}}</p>
        <p><strong>Página web: </strong><a href="{{empresa.web}}">{{empresa.web}}</a></p>
    </section>
</article>