.main{
    padding-bottom: 10px;
}
.cabecera-linea{
    position: relative;
    top: -50px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.informacion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}
.linea{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.linea h2{
    font-size: 32px;
}
.sublinea{
    display: flex;
    flex-direction: column;
    gap: 4px;

}
.empresa{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.empresa p{
    font-size: 22px;
    font-weight: 500;
}
.empresa img{
    max-width: 100px;
}
.direccion{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.direccion button{
    max-width: 200px;
}
.direccion p{
    font-size: 22px;
    font-weight: 600;

}
.mapa1 {
    width: 100%;
    max-height: 400px;
    overflow: hidden; /* Asegura que nada se salga del contenedor */
    border-radius: 10px;
}

.mapa1 img {
    object-fit: cover; /* La imagen se redimensionará para cubrir todo el contenedor, manteniendo su aspecto */
}
.mapa1 {
    width: 100%;
    max-height: 400px;
    overflow: hidden; /* Asegura que nada se salga del contenedor */
    border-radius: 10px;
}

.mapa1 img {
    object-fit: cover; /* La imagen se redimensionará para cubrir todo el contenedor, manteniendo su aspecto */
}
@media (max-width: 800px){
    .mapa1{
        display: none;
    }
}