<main class="detalle-linea">
    <section class="card cabecera-linea">
        <div class="informacion">
            <header>
                <h2>Linea 44 A</h2>
                <select name="sublinea" id="">
                    <option value="44A">44 A</option>
                    <option value="44B">44 B</option>
                    <option value="44C">44 C</option>
                </select>
            </header>
            <div class="direccion">
                <p>Espinardo - Murcia - Alcantarilla</p>
                <button class="boton">Cambio de dirección</button>
            </div>
        </div>
    </section>
</main>