<main class="main lineas-admin">
    <section class="card cont-filtros">
            <h3>Filtros</h3>
            <div class="cont nombre">
                <label for="nombre">Nombre</label>
                <input [(ngModel)]="nombre" type="text" name="nombre" id="" placeholder="Introduce el nombre">
            </div>
            <div class="cont tipo">
                <label for="tipo">Tipo</label>
                <select [(ngModel)]="tipo" name="tipo" id="">
                    <option value="Todas" selected>Todas</option>
                    <option value="Urbana">Urbanas</option>
                    <option value="Interurbana">Interurbanas</option>
                </select>
            </div>
            <button class="boton-terciario" (click)="borrarFiltros()">Borrar filtros</button>
    </section>
    @if ((lineas | nombrelineas:nombre | tipolineas:tipo).length === 0) {
      <h2>No se han encontrado líneas 🙁​ </h2>
    }@else {
      @for (linea of lineas | nombrelineas:nombre | tipolineas:tipo; track linea.id) {
        <app-admin-linea [linea]="linea"/>
      }
    }
</main>
