<section class="noticia-extendida">
    <article class=" card noticia">
        <h2 class="titulo">{{noticia.titulo}}</h2>
        <p>{{noticia.fecha}}</p>
    
        <div class="contenedor">
            <p class="descripcion">{{noticia.descripcion}}</p>
            <img src="../../../assets/imagenes/noticias/{{noticia.imagen}}" alt="">
            
        </div>
        <p class="cuerpo">{{noticia.cuerpo1}}</p>
        <p class="cuerpo">{{noticia.cuerpo2}}</p>
        <p class="cuerpo">{{noticia.cuerpo3}}</p>
        <p class="cuerpo">{{noticia.cuerpo4}}</p>
        <p class="cuerpo">{{noticia.cuerpo5}}</p>
    </article>
</section>
