.lineas{
  display: flex;    
  flex-direction: column;
  padding-bottom: 10px;
}

.cont-filtros{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    position: relative;
    top: -50px;
}
.filtros{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
.cont{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
button{
    align-self: flex-end;
    margin-left: auto;
    color: rgb(129, 0, 0);
    font-family: Urbanist;
    font-weight: semibold;
    border: 0;
    background-color: var(--blanco);
}
button:hover{
    cursor: pointer;
    text-decoration: underline;
    
}