<section class="buscador">
    <div class="cont origen">
        <label for="origen">Origen</label>
        <input [(ngModel)]="origen" type="text" name="origen" id="origen" placeholder="Introduce el origen">
        <ul>
            @for (parada of paradas; track parada.id) {
            <li>{{parada.nombre}}</li>
            }
        </ul>
    </div>
    <div class="cont destino">
        <label for="destino">Destino</label>
        <input [(ngModel)]="destino" type="text" name="destino" id="destino" placeholder="Introduce el destino">
    </div>
    <div class="cont fecha">
        <label for="fecha">Fecha</label>
        <input [(ngModel)]="fecha" type="date" name="fecha" id="fecha">
    </div>
    <div class="cont hora">
        <label for="hora">Hora</label>
        <input [(ngModel)]="hora" type="time" name="hora" id="hora">
    </div>
    <div class="cont botones">
        <button class="borrar" (click)="borrarFiltros()">Borrar todo</button>
        <button class="boton">Buscar</button>
        
    </div>
</section>