.buscador{
   
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 80vw;
    height: 100px;
    position: relative;
    top: -50px;
    left: 100px;
}
.boton{
    font-size: 24px;
    align-self: flex-end;
}
.cont{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    gap: 4px;
}